flask
python-dotenv
langchain
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
pypdf
groq
pymupdf
pdfplumber
pandas
openpyxl
python-pptx
Pillow
pdf2docx
docx2pdf
reportlab
opencv-python
rembg
easyocr
numpy
openai-whisper
moviepy
noisereduce
soundfile
torch
